<div class="container is-centered">
  <div class="columns is-multiline">
  <% @events.each do | event | %>
    <div class="column is-one-third">
      <%= event.title %>
      <br>
      <%= event.location %>
      <br>
      <img src="https://totalarcherychallenge.com/wp-content/uploads/2019/02/DI9A2773-1024x683.jpg">
    </div>
  <% end %>
  </div>
</div>