<div class="container is-centered">
  <%# <h1 class="title is-2 has-text-centered">Events</h1> %>
  <div class="columns is-multiline">
  <% @events.each do | event | %>
    <div class="column is-one-third has-text-centered">
      <%= link_to event do %>
        <% if event.image.attached? %>
          <%= image_tag event.image.variant(resize_to_limit: [500, 500]) %>
        <% else %>
          <img src="https://www.eduprizeschools.net/wp-content/uploads/2016/06/No_Image_Available.jpg">
        <% end %>
      <% end %>
      <strong><%= event.title %> @ <%=event.location %></strong>
    </div>
  <% end %>
  </div>
</div>